// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$med-grey: #8e8e8e;
$light-grey: #F0F0F0;
$purple: #2f1b25;
$white: #fff;
$grey: #2b2b2b;
$grey-opac: rgba(142, 142, 142, .12);
