.item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 60px;
}

#map {
  margin-top: 20px;
}

.item-info {
  text-align: center;
  width: 500px;
  img {
    max-height: 280px;
    background-color: $light-grey;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    text-align: left;
  }
  p {
    text-align: left;
    font-weight: lighter;
  }
}

.item-icons {
  display: flex;
  justify-content: center;
  p {
    font-weight: lighter;
    margin: 0 15px;
  }
}
