.banner {
  color: white;
  text-align: left;
  height: calc(60vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  background-attachment: fixed;
  padding: 0 65px;
  p {
    font-size: 42px;
    font-weight: bold;
    color: $white;
    margin-bottom: 30px;
  }
}

.banner-searchbar {
  height: 40px;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 10px;
  margin-right: 10px;
  &:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
  }
}

input {
  font-size: 80%;
  color: $purple;
}

.btn-search {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 3px;
  color: #2f1b25;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: $purple;
    color: $white;

  }
}
