/* Inherits CSS from _home-cards */
.card {
  height: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.04em;
}
.card-description p {
  font-size: 16px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: $white;
  opacity: 0;
  &:hover{
    opacity: 0.1;
  }
}
.cards h2 {
  margin-top: 60px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px $grey-opac;
  padding: 15px;
  margin-bottom: 20px;
  p:first-child{
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}

.edit-icons {
  position: absolute;
  right: 7px;
  display: inline-flex;
  margin-bottom: 30px;
  i {
    font-size: 18px;
    padding-top: 5px;
  }
  i:first-child {
    padding-right: 10px;
  }
  i:hover {
    opacity: 0.5;
  }
}

.no-margin {
  margin: 0;
}

.cards {
  max-width: 900px;
}

.dashboard-card {
  margin: 40px 0;
}

.bookings {
  h3 {
    font-size: 18px;
  }
  p{
    display: inline-flex;
    margin-right: 10px;
  }
  i {
    margin-right: 5px;
  }
}

.your-bookings {
  h3 {
    font-size: 18px;
  }
  p{
    display: inline-flex;
    margin-right: 10px;
  }
  i {
    margin-right: 5px;
  }
}
