.forms {
  h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
  }
  label {
    font-weight: lighter;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin: 40px auto;
  }
}

.form-control:focus {
    border-color: $med-grey;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.item_description {
  textarea.form-control {
      height: 150px;
  }
}

input#user_first_name {
  display: unset;
}
input#user_last_name {
  display: unset;
}

input#user_address {
  display: unset;
}

input#user_phone_number {
  display: unset;
}

input#user_email {
  display: unset;
}

input#user_password {
  display: unset;
}

input#user_password_confirmation {
  display: unset;
}

input#user_current_password {
  display: unset;
}

